
.imagePool{
    background-color: #000000;
}
#presale-back {
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: white;
}
.dot-collision-bal {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #5E606E;
    color: #5E606E;
  }

  .dot-collision-bal::before, .dot-collision-bal::after {
    content: '';
    display: inline-block;
    position: absolute;
    /* top: 0px; */
    top: -15px;
    left: 0px;
  }

  .dot-collision-bal::before {
    /* left: 10px; */
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #5E606E;
    color: #5E606E;
    animation: dotCollisionBefore 2s infinite ease-in;
  }

  .dot-collision-bal::after {
    /* left: 10px; */
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #5E606E;
    color: #5E606E;
    animation: dotCollisionAfter 2s infinite ease-in;
    animation-delay: 1s;
  }

  @keyframes dotCollisionBefore {
    0%,
    50%,
    75%,
    100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-15px);
    }
  }

  @keyframes dotCollisionAfter {
    0%,
    50%,
    75%,
    100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(15px);
    }
  }

/* type animation  */
.dot-collision {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #5E606E;
    color: #5E606E;
  }

  .dot-collision::before, .dot-collision::after {
    content: '';
    display: inline-block;
    position: absolute;
    /* top: 0px; */
    top: -10px;
    left: -30px;
  }

  .dot-collision::before {
    /* left: 10px; */
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #5E606E;
    color: #5E606E;
    animation: dotCollisionBefore 2s infinite ease-in;
  }

  .dot-collision::after {
    /* left: 10px; */
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #5E606E;
    color: #5E606E;
    animation: dotCollisionAfter 2s infinite ease-in;
    animation-delay: 1s;
  }

  @keyframes dotCollisionBefore {
    0%,
    50%,
    75%,
    100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-15px);
    }
  }

  @keyframes dotCollisionAfter {
    0%,
    50%,
    75%,
    100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(15px);
    }
  }
/* /// dot animation ///// */

.dot-stretching {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #fff;
    color: #fff;
    transform: scale(1.25, 1.25);
    animation: dotStretching 2s infinite ease-in;
  }

  .dot-stretching::before, .dot-stretching::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .poolbtn{
    background: linear-gradient(90deg, #F92D1E 1.7%, #FF5043 100%);
border-radius: 80px;
font-weight: bold;
font-size: 22px;
line-height: 26px;
color: white;
padding: 10px 15px;
}
  .dot-stretching::before {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #fff;
    color: #fff;
    animation: dotStretchingBefore 2s infinite ease-in;
  }

  .dot-stretching::after {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #fff;
    color: #fff;
    animation: dotStretchingAfter 2s infinite ease-in;
  }

  @keyframes dotStretching {
    0% {
      transform: scale(1.25, 1.25);
    }
    50%,
    60% {
      transform: scale(0.8, 0.8);
    }
    100% {
      transform: scale(1.25, 1.25);
    }
  }

  @keyframes dotStretchingBefore {
    0% {
      transform: translate(0) scale(0.7, 0.7);
    }
    50%,
    60% {
      transform: translate(-20px) scale(1, 1);
    }
    100% {
      transform: translate(0) scale(0.7, 0.7);
    }
  }

  @keyframes dotStretchingAfter {
    0% {
      transform: translate(0) scale(0.7, 0.7);
    }
    50%,
    60% {
      transform: translate(20px) scale(1, 1);
    }
    100% {
      transform: translate(0) scale(0.7, 0.7);
    }
  }

.presale-box {
    background-image: url("../Assets/Popup-BG.png"), url("../Assets/bg 1.png");
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    border-radius: 27px;
    background-size: cover;
}
.presalesbtn1{
    background: linear-gradient(180deg, #FF5043 0%, #F92D1E 100%);
border-radius: 50px;
font-weight: 600;
font-size: 20px;
line-height: 132%;
color: white;
padding: 7px 14px;
}
.presalesbtn1:hover{
    color: white;
}
.Presale-p {
    font-weight: 600;
    font-size: 34px;
    line-height:30%;
    color: #FFFFFF;
    text-align: left;

}
#preale-Available{
    font-weight: 500;
font-size: 16px;
line-height: 132%;
color: #FFFFFF;
}
.presale-p1 {
    font-weight: 700;
    font-size: 44px;
    line-height: 100%;
    color: #FD5043;
    text-align: left;
}

.presalebtn {
    background: linear-gradient(90deg, #F92D1E 1.7%, #FF5043 100%);
    border-radius: 80px;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: white;
    padding: 15px 53px;

}

#presale-span1 {
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.presale-box1 {
    background: rgba(26, 28, 35, 0.96);
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(2em);
    border-radius: 27px;
    border: 1px solid #FD5043;


}

.pool-h4 {
    font-weight: bold;
    font-size: 28px;
    line-height: 100%;
    color: #FFFFFF;
}

.pool-p2 {
    font-weight: normal;
    font-size: 19px;
    line-height: 100%;
    color: #FFFFFF;
}

.pool-box3 {
    background: #000000;
    border-radius: 16px;
    height: 660px;
}

.bool-h55 {
    font-weight: normal;
    font-size: 26px;
    line-height: 144%;
    color: #FFFFFF;
}



/* input css */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input[type="number"],
textarea {

    background: rgba(41, 44, 56, 0.16);
    border: 2px solid #292C38;
    box-sizing: border-box;
    border-radius: 8px;
    color: white;
    padding: 12px 15px;
}

input[type=number]:focus {
    background: rgba(41, 44, 56, 0.16);
    border: 2px solid #292C38;
    box-sizing: border-box;
    border-radius: 8px;
    color: white;
}

/* input css */

.presale-span {
    font-weight: 600;
    font-size: 18px;
    line-height: 144%;
    color: #5E606E;
}

.presale-span1 {
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #FC3E30;
}

.presale-b0x1 {
    background: linear-gradient(90deg, #1A1C23 0%, rgba(26, 28, 35, 0) 100%);
    border-radius: 8px;
}

.span-presale {
    font-weight: 500;
    font-size: 14px;
    line-height: 132%;
    color: #FFFFFF;
}
.presale-span21{
    font-weight: bold;
font-size: 15px;
line-height: 17px;
color: #565A69;
}
.presale-span22{
    font-weight: 500;
font-size: 15px;
line-height: 18px;
color: #A0A0A0;
}
.progress {
    margin:20px auto;
    padding:0;
    width:100%;
    height:10px;
    overflow:hidden;
    background:#31343E;
    border-radius:6px;
  }
  .bg-YOU_PICK_A_NAME{
    background-color: #E24034!important;
    color: #E24034;
  }
  .bar {
  /* 	position:relative; */
    float:left;
    min-width:100%;
    height:100%;
    background: #E24034;
  }
  /* .percent {
	position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  margin:0;
  font-family:tahoma,arial,helvetica;
  font-size:12px;
  color:white;
} */
.icon-rea{
  font-size: 44px;
}
@media(max-width: 600px) {
    .Presale-p {
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        color: #FFFFFF;
        text-align: left;

    }

    .presale-p1 {
        font-weight: 600;
        font-size: 20px;
        line-height: 100%;
        color: #FD5043;
        text-align: left;
    }

    .presalebtn {
        background: linear-gradient(90deg, #F92D1E 1.7%, #FF5043 100%);
        border-radius: 80px;
        /* font-weight: bold; */
        font-size: 12px;
        /* line-height: 26px; */
        color: white;
        padding: 5px 10px;

    }
    .pool-h4 {
        font-weight: bold;
        font-size: 22px;
        line-height: 120%;
        color: #FFFFFF;
    }
    .pool-p2 {
        font-weight: normal;
        font-size: 13px;
        line-height: 100%;
        color: #FFFFFF;
    }
    .presale-image{
        width: 150px;
    }
    #presale-span1 {
        font-weight: normal;
        font-size: 13px;
        line-height: 24px;
        color: #FFFFFF;
    }
    .presalesbtn1{
        background: linear-gradient(180deg, #FF5043 0%, #F92D1E 100%);
    border-radius: 50px;
    font-weight: 600;
    font-size: 15px;
    line-height: 132%;
    color: white;
    padding: 7px 14px;
    }
    .presalesbtn1:hover{
        color: white;
    }
.pool-box3 {
        background: #000000;
        border-radius: 16px;
        height: auto;
    }
    .prsale-cloumn{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
}

@media(min-width: 300px) and (max-width: 400px) {
    .Presale-p {
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        color: #FFFFFF;
        text-align: left;

    }

    .presale-p1 {
        font-weight: 600;
        font-size: 18px;
        line-height: 100%;
        color: #FD5043;
        text-align: left;
    }

    .presalebtn {
        background: linear-gradient(90deg, #F92D1E 1.7%, #FF5043 100%);
        border-radius: 80px;
        /* font-weight: bold; */
        font-size: 12px;
        line-height: 20px;
        color: white;
        padding: 5px 20px;

    }
    .pool-box3 {
        background: #000000;
        border-radius: 16px;
        height: auto;
    }

    #presale-span1 {
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: #FFFFFF;
        text-align: center;
        padding-left: 15px;
    }
    .pool-h4 {
        font-weight: bold;
        font-size: 20px;
        line-height: 120%;
        color: #FFFFFF;
    }
    .pool-p2 {
        font-weight: normal;
        font-size: 10px;
        line-height: 100%;
        color: #FFFFFF;
    }
    .presale-span21{
        font-weight: bold;
    font-size: 10px;
    line-height: 17px;
    color: #565A69;
    text-align: left;
    }
    .presale-span22{
        font-weight: 500;
    font-size: 10px;
    line-height: 18px;
    color: #A0A0A0;
    text-align: end;
    }

    #presale-back {
      font-weight: bold;
      font-size: 15px;
      line-height: 12px;
      color: white;
  }
  .prsale-cloumn{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .presale-image{
    width: 140px;
    margin-left: 30px;
    margin-top: 30px;

}
.bool-h55 {
  font-weight: normal;
  font-size: 18px;
  line-height: 144%;
  color: #FFFFFF;
}
.icon-rea{
  font-size: 24px;
}
}
@media(min-width: 240px) and (max-width: 299px){
  .Presale-p {
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;
    color: #FFFFFF;
    text-align: left;

}

.presale-p1 {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #FD5043;
    text-align: left;
}
.presale-image{
  width: 110px;
  margin-left: 30px;
  margin-top: 30px;

}
#presale-back {
  /* font-weight: bold; */
  font-size: 14px;
  line-height: 12px;
  color: white;
}
.icon-rea{
  font-size: 24px;
}
.presalebtn {
  background: linear-gradient(90deg, #F92D1E 1.7%, #FF5043 100%);
  border-radius: 80px;
  /* font-weight: bold; */
  font-size: 12px;
  line-height: 20px;
  color: white;
  padding: 5px 20px;

}
.pool-h4 {
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;
  color: #FFFFFF;
}
.pool-p2 {
  font-weight: normal;
  font-size: 10px;
  line-height: 100%;
  color: #FFFFFF;
}
.bool-h55 {
  font-weight: normal;
  font-size: 16px;
  line-height: 144%;
  color: #FFFFFF;
}
#preale-Available{
  font-weight: 400;
font-size: 14px;
line-height: 132%;
color: #FFFFFF;
}
.presalesbtn1{
  background: linear-gradient(180deg, #FF5043 0%, #F92D1E 100%);
border-radius: 50px;
font-weight: 400;
font-size: 17px;
line-height: 102%;
color: white;
padding: 7px 7px;
}
.presalesbtn1:hover{
  color: white;
}
.presale-span {
  font-weight: 600;
  font-size: 14px;
  line-height: 144%;
  color: #5E606E;
}

.presale-span1 {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #FC3E30;
}
.span-presale {
  font-weight: 400;
  font-size: 11px;
  line-height: 132%;
  color: #FFFFFF;
}
.presale-span21{
  /* font-weight: bold; */
font-size: 10px;
line-height: 17px;
color: #565A69;
text-align: left;
}
.presale-span22{
  font-weight: 400;
font-size: 10px;
line-height: 18px;
color: #A0A0A0;
text-align: end;
}
}

@media (max-width: 360px) {
    .Presale-p {
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;
    color: #FFFFFF;
    text-align: left;

}

.presale-p1 {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #FD5043;
    text-align: left;
}
.presale-image{
  width: 110px;
  margin-left: 30px;
  margin-top: 30px;

}
#presale-back {
  /* font-weight: bold; */
  font-size: 14px;
  line-height: 12px;
  color: white;
}
.icon-rea{
  font-size: 24px;
}
.presalebtn {
  background: linear-gradient(90deg, #F92D1E 1.7%, #FF5043 100%);
  border-radius: 80px;
  /* font-weight: bold; */
  font-size: 12px;
  line-height: 20px;
  color: white;
  padding: 5px 20px;

}
.pool-h4 {
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;
  color: #FFFFFF;
}
.pool-p2 {
  font-weight: normal;
  font-size: 10px;
  line-height: 100%;
  color: #FFFFFF;
}
.bool-h55 {
  font-weight: normal;
  font-size: 16px;
  line-height: 144%;
  color: #FFFFFF;
}
#preale-Available{
  font-weight: 400;
font-size: 14px;
line-height: 132%;
color: #FFFFFF;
}
.presalesbtn1{
  background: linear-gradient(180deg, #FF5043 0%, #F92D1E 100%);
border-radius: 50px;
font-weight: 400;
font-size: 17px;
line-height: 102%;
color: white;
padding: 7px 7px;
}
.presalesbtn1:hover{
  color: white;
}
.presale-span {
  font-weight: 600;
  font-size: 14px;
  line-height: 144%;
  color: #5E606E;
}

.presale-span1 {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #FC3E30;
}
.span-presale {
  font-weight: 400;
  font-size: 11px;
  line-height: 132%;
  color: #FFFFFF;
}
.presale-span21{
  /* font-weight: bold; */
font-size: 10px;
line-height: 17px;
color: #565A69;
text-align: left;
}
.presale-span22{
  font-weight: 400;
font-size: 10px;
line-height: 18px;
color: #A0A0A0;
text-align: end;
}
 }